<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>--project-company</key>
        <string>your_company_name</string>
        <key>--company-id</key>
        <string>your.company.identifier</string>
        <key>--index-desc</key>
        <string>index.markdown</string>
        <key>--output</key>
        <string>.</string>
        <key>--create-docset</key>
        <true/>
        <key>--install-docset</key>
        <true/>
        <key>--verbose</key>
        <integer>4</integer>
        <key>--logformat</key>
        <string>xcode</string>
        <key>--exit-threshold</key>
        <integer>2</integer>
    </dict>
</plist>
